<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesViews.css">
    <link rel="shortcut icon" href="../../assets/logo.icon.PNG" type="image/x-icon">
    <title>Lacroze Chill</title>
</head>
<body>
    <section class="view">
        <a href="../../index.html"><button class="go-back">GO BACK</button></a>
        <h2>LACROZE CHILL</h2>
        <div class="grid-photos">
            <div style="background-image: url(../../assets2/INTERIORS/LACROZEchill/opti1.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/LACROZEchill/opti2.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/LACROZEchill/opti3.webp);"></div>
        </div>
    </section>  
</body>
</html>
