<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesViews.css">
    <link rel="shortcut icon" href="../../assets/logo.icon.PNG" type="image/x-icon">
    <title>Cabrera</title>
</head>
<body>
    <section class="view">
        <a href="../../index.html"><button class="go-back">GO BACK</button></a>
        <h2>CABRERA</h2>
        <div class="grid-photos">
            <div style="background-image: url(../../assets2/INTERIORS/MONOAMBIENTE/mono1.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/MONOAMBIENTE/mono2.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/MONOAMBIENTE/mono3.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/MONOAMBIENTE/mono4.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/MONOAMBIENTE/mono5.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/MONOAMBIENTE/mono6.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/MONOAMBIENTE/mono7.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/MONOAMBIENTE/mono8.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/MONOAMBIENTE/mono13.webp);"></div>
        </div>
    </section>
</body>
</html>
