<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesViews.css">
    <link rel="shortcut icon" href="../../assets/logo.icon.PNG" type="image/x-icon">
    <title>Fe</title>
</head>
<body>
    <section class="view">
        <a href="../../index.html"><button class="go-back">GO BACK</button></a>
        <h2>FE</h2>
        <div class="grid-photos">
            <div style="background-image: url(../../assets2/INTERIORS/FE/fe10.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/FE/fe15.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/FE/fe19.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/FE/fe2.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/FE/fe20.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/FE/fe22.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/FE/fe25.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/FE/fe4.webp);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/FE/fe6.webp);"></div>
        </div>
    </section>  
</body>
</html>
