<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../views/stylesViews.css">
    <link rel="shortcut icon" href="../../assets/logo.icon.PNG" type="image/x-icon">
    <title>Lacroze Terraza</title>
</head>
<body>
    <section class="view">
        <a href="../../index.html"><button class="go-back">GO BACK</button></a>
        <h2>LACROZE TERRAZA</h2>
        <div class="grid-photos">
            <div style="background-image: url(../../assets2/INTERIORS/TERRAZA/terra1.png);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/TERRAZA/terra10.png);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/TERRAZA/terra2.png);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/TERRAZA/terra3.png);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/TERRAZA/terra4.png);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/TERRAZA/terra5.png);"></div>
        </div>
    </section>     
</body>
</html>