<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesViews.css">
    <link rel="shortcut icon" href="../../assets/logo.png" type="image/x-icon">
    <title>Le Breton</title>
</head>
<body>
    <section class="view">
        <a href="../../index.html"><button class="go-back">GO BACK</button></a>
        <h2>LE BRETON</h2>
        <div class="grid-photos">
            <div style="background-image: url(../../assets2/INTERIORS/LEBRETON/1.png);"></div>
            <div style="background-image: url(../../assets2/INTERIORS/LEBRETON/2.png);"></div>
        </div>
    </section>   
</body>
</html>