@font-face {
  font-family: pepe;
  src: url(/boring-sans-a-trial.light.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html .volver,
body .volver {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid black;
  position: fixed;
  left: 1vw;
  bottom: 2vh;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0.5;
}
@media screen and (max-width: 1050px) {
  html .volver,
  body .volver {
    width: 35px;
    height: 35px;
  }
}
html .volver svg,
body .volver svg {
  width: 70%;
}
html .volver:hover,
body .volver:hover {
  opacity: 1;
  cursor: pointer;
}
html main,
body main {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1050px) {
  html main,
  body main {
    height: auto;
  }
}
html main nav,
body main nav {
  width: 1000px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  html main nav,
  body main nav {
    width: 95%;
  }
}
html main nav .nav-1 h1,
body main nav .nav-1 h1 {
  text-transform: uppercase;
  font-family: pepe;
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 4px;
}
html main nav .nav-2 ul,
body main nav .nav-2 ul {
  display: flex;
  margin-top: 20px;
  gap: 25px;
  list-style: none;
}
html main nav .nav-2 ul li a,
body main nav .nav-2 ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: pepe;
  font-size: 18px;
  transition: 0.2s;
}
html main nav .nav-2 ul li a:hover,
body main nav .nav-2 ul li a:hover {
  color: #dbbe7f;
}
@media screen and (max-width: 1050px) {
  html main nav .nav-2,
  body main nav .nav-2 {
    display: none;
  }
}
html main nav .navButton,
body main nav .navButton {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 35px;
  height: 28px;
}
html main nav .navButton:hover,
body main nav .navButton:hover {
  cursor: pointer;
}
html main nav .navButton .line-1,
body main nav .navButton .line-1 {
  width: 100%;
  height: 4px;
  background-color: black;
}
html main nav .navButton .line-2,
body main nav .navButton .line-2 {
  width: 100%;
  height: 4px;
  background-color: black;
}
html main nav .navButton .line-3,
body main nav .navButton .line-3 {
  width: 100%;
  height: 4px;
  background-color: black;
}
@media screen and (max-width: 1050px) {
  html main nav .navButton,
  body main nav .navButton {
    display: flex;
  }
}
html main .navMobile,
body main .navMobile {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1050px) {
  html main .navMobile,
  body main .navMobile {
    width: 95%;
  }
}
html main .navMobile .nav-1,
body main .navMobile .nav-1 {
  display: none;
}
html main .navMobile .nav-1 h1,
body main .navMobile .nav-1 h1 {
  text-transform: uppercase;
  font-family: pepe;
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 4px;
}
html main .navMobile .nav-2,
body main .navMobile .nav-2 {
  display: block;
  margin: auto;
}
html main .navMobile .nav-2 ul,
body main .navMobile .nav-2 ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 25px;
  list-style: none li a;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: pepe;
  font-size: 18px;
  transition: 0.2s;
}
html main .navMobile .nav-2 ul li a:hover,
body main .navMobile .nav-2 ul li a:hover {
  color: #dbbe7f;
}
html main .navMobile .navButton,
body main .navMobile .navButton {
  position: absolute;
  right: 4.3vw;
  top: 2.1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35px;
  height: 28px;
}
html main .navMobile .navButton:hover,
body main .navMobile .navButton:hover {
  cursor: pointer;
}
html main .navMobile .navButton .line-1,
body main .navMobile .navButton .line-1 {
  width: 100%;
  height: 4px;
  background-color: rgb(37, 37, 37);
  position: absolute;
  rotate: -40deg;
}
html main .navMobile .navButton .line-2,
body main .navMobile .navButton .line-2 {
  display: none;
}
html main .navMobile .navButton .line-3,
body main .navMobile .navButton .line-3 {
  width: 100%;
  height: 4px;
  rotate: 40deg;
  position: absolute;
  background-color: rgb(37, 37, 37);
}
html main .carrusel,
body main .carrusel {
  width: 1000px;
  margin: auto;
  height: calc(100vh - 70px);
}
@media screen and (max-width: 1050px) {
  html main .carrusel,
  body main .carrusel {
    width: 95%;
    height: auto;
  }
}
html main .carrusel .slide .pepeArgento,
body main .carrusel .slide .pepeArgento {
  height: calc(100vh - 70px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1050px) {
  html main .carrusel .slide .pepeArgento,
  body main .carrusel .slide .pepeArgento {
    width: 100%;
    height: 700px;
  }
}
@media screen and (max-width: 800px) {
  html main .carrusel .slide .pepeArgento,
  body main .carrusel .slide .pepeArgento {
    width: 100%;
    height: 430px;
  }
}
@media screen and (max-width: 460px) {
  html main .carrusel .slide .pepeArgento,
  body main .carrusel .slide .pepeArgento {
    width: 100%;
    height: 350px;
  }
}
html .interiors,
body .interiors {
  width: 1000px;
  height: auto;
  margin: auto;
}
@media screen and (max-width: 1050px) {
  html .interiors,
  body .interiors {
    width: 95%;
  }
}
html .interiors h2,
body .interiors h2 {
  font-family: pepe;
  text-align: center;
  padding: 30px;
  letter-spacing: 2px;
}
html .interiors .card-1,
body .interiors .card-1 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-1,
  body .interiors .card-1 {
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
html .interiors .card-1 .card-1-img-1,
body .interiors .card-1 .card-1-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/BOTANE/botane4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-1 .card-1-img-2,
body .interiors .card-1 .card-1-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/BOTANE/botane6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-1 .card-1-desc,
body .interiors .card-1 .card-1-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-1 .card-1-desc,
  body .interiors .card-1 .card-1-desc {
    width: 330px;
  }
}
html .interiors .card-1 .card-1-desc h3,
body .interiors .card-1 .card-1-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-1 .card-1-desc p,
body .interiors .card-1 .card-1-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-1 .card-1-desc a,
body .interiors .card-1 .card-1-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-1 .card-1-desc button,
body .interiors .card-1 .card-1-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  color: black;
  gap: 4px;
  transition: 0.1s;
}
html .interiors .card-1 .card-1-desc button:hover,
body .interiors .card-1 .card-1-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .card-2,
body .interiors .card-2 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-2,
  body .interiors .card-2 {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .card-2 .card-2-img-1,
body .interiors .card-2 .card-2-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/MONOAMBIENTE/mono5.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
html .interiors .card-2 .card-2-img-2,
body .interiors .card-2 .card-2-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/MONOAMBIENTE/mono6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-2 .card-2-desc,
body .interiors .card-2 .card-2-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-2 .card-2-desc,
  body .interiors .card-2 .card-2-desc {
    width: 330px;
  }
}
html .interiors .card-2 .card-2-desc h3,
body .interiors .card-2 .card-2-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-2 .card-2-desc p,
body .interiors .card-2 .card-2-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-2 .card-2-desc a,
body .interiors .card-2 .card-2-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-2 .card-2-desc button,
body .interiors .card-2 .card-2-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
}
html .interiors .card-2 .card-2-desc button:hover,
body .interiors .card-2 .card-2-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .card-3,
body .interiors .card-3 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-3,
  body .interiors .card-3 {
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .card-3 .card-3-img-1,
body .interiors .card-3 .card-3-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/DARWIM/darwin3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-3 .card-3-img-2,
body .interiors .card-3 .card-3-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/DARWIM/darwin17.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
html .interiors .card-3 .card-3-desc,
body .interiors .card-3 .card-3-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-3 .card-3-desc,
  body .interiors .card-3 .card-3-desc {
    width: 330px;
  }
}
html .interiors .card-3 .card-3-desc h3,
body .interiors .card-3 .card-3-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-3 .card-3-desc p,
body .interiors .card-3 .card-3-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-3 .card-3-desc a,
body .interiors .card-3 .card-3-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-3 .card-3-desc button,
body .interiors .card-3 .card-3-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
}
html .interiors .card-3 .card-3-desc button:hover,
body .interiors .card-3 .card-3-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .card-4,
body .interiors .card-4 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-4,
  body .interiors .card-4 {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .card-4 .card-4-img-1,
body .interiors .card-4 .card-4-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/GORRITI/gorriti13.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-4 .card-4-img-2,
body .interiors .card-4 .card-4-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/GORRITI/gorriti8.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-4 .card-4-desc,
body .interiors .card-4 .card-4-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-4 .card-4-desc,
  body .interiors .card-4 .card-4-desc {
    width: 330px;
  }
}
html .interiors .card-4 .card-4-desc h3,
body .interiors .card-4 .card-4-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-4 .card-4-desc p,
body .interiors .card-4 .card-4-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-4 .card-4-desc a,
body .interiors .card-4 .card-4-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-4 .card-4-desc button,
body .interiors .card-4 .card-4-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
}
html .interiors .card-4 .card-4-desc button:hover,
body .interiors .card-4 .card-4-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .card-5,
body .interiors .card-5 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-5,
  body .interiors .card-5 {
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .card-5 .card-5-img-1,
body .interiors .card-5 .card-5-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/FE/fe15.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
html .interiors .card-5 .card-5-img-2,
body .interiors .card-5 .card-5-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/FE/fe4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-5 .card-5-desc,
body .interiors .card-5 .card-5-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-5 .card-5-desc,
  body .interiors .card-5 .card-5-desc {
    width: 330px;
  }
}
html .interiors .card-5 .card-5-desc h3,
body .interiors .card-5 .card-5-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-5 .card-5-desc p,
body .interiors .card-5 .card-5-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-5 .card-5-desc a,
body .interiors .card-5 .card-5-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-5 .card-5-desc button,
body .interiors .card-5 .card-5-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
}
html .interiors .card-5 .card-5-desc button:hover,
body .interiors .card-5 .card-5-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .card-6,
body .interiors .card-6 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-6,
  body .interiors .card-6 {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .card-6 .card-6-img-1,
body .interiors .card-6 .card-6-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/TERRAZA/terra2.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
html .interiors .card-6 .card-6-img-2,
body .interiors .card-6 .card-6-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/TERRAZA/terra10.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
html .interiors .card-6 .card-6-desc,
body .interiors .card-6 .card-6-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-6 .card-6-desc,
  body .interiors .card-6 .card-6-desc {
    width: 330px;
  }
}
html .interiors .card-6 .card-6-desc h3,
body .interiors .card-6 .card-6-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-6 .card-6-desc p,
body .interiors .card-6 .card-6-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-6 .card-6-desc a,
body .interiors .card-6 .card-6-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-6 .card-6-desc button,
body .interiors .card-6 .card-6-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
}
html .interiors .card-6 .card-6-desc button:hover,
body .interiors .card-6 .card-6-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .card-7,
body .interiors .card-7 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-7,
  body .interiors .card-7 {
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .card-7 .card-7-img-1,
body .interiors .card-7 .card-7-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/LEBRETON/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-7 .card-7-img-2,
body .interiors .card-7 .card-7-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/LEBRETON/2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-7 .card-7-desc,
body .interiors .card-7 .card-7-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-7 .card-7-desc,
  body .interiors .card-7 .card-7-desc {
    width: 330px;
  }
}
html .interiors .card-7 .card-7-desc h3,
body .interiors .card-7 .card-7-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-7 .card-7-desc p,
body .interiors .card-7 .card-7-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-7 .card-7-desc a,
body .interiors .card-7 .card-7-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-7 .card-7-desc button,
body .interiors .card-7 .card-7-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
}
html .interiors .card-7 .card-7-desc button:hover,
body .interiors .card-7 .card-7-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .card-8,
body .interiors .card-8 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-8,
  body .interiors .card-8 {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .card-8 .card-8-img-1,
body .interiors .card-8 .card-8-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/LACROZEchill/opti1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-8 .card-8-img-2,
body .interiors .card-8 .card-8-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/LACROZEchill/opti2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-8 .card-8-desc,
body .interiors .card-8 .card-8-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-8 .card-8-desc,
  body .interiors .card-8 .card-8-desc {
    width: 330px;
  }
}
html .interiors .card-8 .card-8-desc h3,
body .interiors .card-8 .card-8-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-8 .card-8-desc p,
body .interiors .card-8 .card-8-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-8 .card-8-desc a,
body .interiors .card-8 .card-8-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-8 .card-8-desc button,
body .interiors .card-8 .card-8-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
}
html .interiors .card-8 .card-8-desc button:hover,
body .interiors .card-8 .card-8-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .card-9,
body .interiors .card-9 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-9,
  body .interiors .card-9 {
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .card-9 .card-9-img-1,
body .interiors .card-9 .card-9-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/BERUTI/beruti1.jpeg);
  background-position: center;
  background-size: cover;
}
html .interiors .card-9 .card-9-img-2,
body .interiors .card-9 .card-9-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/BERUTI/beruti2.jpeg);
  background-position: center;
  background-size: cover;
}
html .interiors .card-9 .card-9-desc,
body .interiors .card-9 .card-9-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-9 .card-9-desc,
  body .interiors .card-9 .card-9-desc {
    width: 330px;
  }
}
html .interiors .card-9 .card-9-desc h3,
body .interiors .card-9 .card-9-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-9 .card-9-desc p,
body .interiors .card-9 .card-9-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-9 .card-9-desc a,
body .interiors .card-9 .card-9-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-9 .card-9-desc button,
body .interiors .card-9 .card-9-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
}
html .interiors .card-9 .card-9-desc button:hover,
body .interiors .card-9 .card-9-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .card-10,
body .interiors .card-10 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .interiors .card-10,
  body .interiors .card-10 {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .card-10 .card-10-img-1,
body .interiors .card-10 .card-10-img-1 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/RIVADAVIAvivienda/rivadavia1.jpeg);
  background-position: center;
  background-size: cover;
}
html .interiors .card-10 .card-10-img-2,
body .interiors .card-10 .card-10-img-2 {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/INTERIORS/RIVADAVIAvivienda/rivadavia3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html .interiors .card-10 .card-10-desc,
body .interiors .card-10 .card-10-desc {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 1050px) {
  html .interiors .card-10 .card-10-desc,
  body .interiors .card-10 .card-10-desc {
    width: 330px;
  }
}
html .interiors .card-10 .card-10-desc h3,
body .interiors .card-10 .card-10-desc h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .interiors .card-10 .card-10-desc p,
body .interiors .card-10 .card-10-desc p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
  text-align: center;
}
html .interiors .card-10 .card-10-desc a,
body .interiors .card-10 .card-10-desc a {
  text-decoration: none;
  color: black;
}
html .interiors .card-10 .card-10-desc button,
body .interiors .card-10 .card-10-desc button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
}
html .interiors .card-10 .card-10-desc button:hover,
body .interiors .card-10 .card-10-desc button:hover {
  color: #dbbe7f;
  border: 1px solid #dbbe7f;
}
html .interiors .process,
body .interiors .process {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
html .interiors .process h2,
body .interiors .process h2 {
  font-family: pepe;
  text-align: start;
  text-transform: uppercase;
  padding: 5px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1050px) {
  html .interiors .process h2,
  body .interiors .process h2 {
    text-align: center;
  }
}
html .interiors .process .process-cards,
body .interiors .process .process-cards {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1050px) {
  html .interiors .process .process-cards,
  body .interiors .process .process-cards {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }
}
html .interiors .process .process-cards .process-card,
body .interiors .process .process-cards .process-card {
  width: 440px;
  height: 300px;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 460px) {
  html .interiors .process .process-cards .process-card,
  body .interiors .process .process-cards .process-card {
    width: 330px;
    height: 250px;
  }
}
html .interiors .process .process-cards .process-card .img,
body .interiors .process .process-cards .process-card .img {
  width: 100%;
  height: 60%;
  background-image: url(../assets2/INTERIORS/MARITTIMA/566.png);
  background-position: center;
  background-size: cover;
}
html .interiors .process .process-cards .process-card .img-2,
body .interiors .process .process-cards .process-card .img-2 {
  width: 100%;
  height: 60%;
  background-color: rgb(203, 204, 204);
  background-image: url(../assets2/INTERIORS/FRAGA/yhhh.png);
  background-position: center;
  background-size: cover;
}
html .interiors .process .process-cards .process-card .rest,
body .interiors .process .process-cards .process-card .rest {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
html .interiors .process .process-cards .process-card .rest h3,
body .interiors .process .process-cards .process-card .rest h3 {
  font-family: pepe;
  text-transform: uppercase;
  padding: 5px;
}
html .interiors .process .process-cards .process-card .rest button,
body .interiors .process .process-cards .process-card .rest button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border: 1px solid rgb(165, 165, 165);
  gap: 4px;
  transition: 0.1s;
  color: black;
  cursor: default;
}
html .set-desing,
body .set-desing {
  width: 1000px;
  height: auto;
  margin: 35px auto;
  padding: 0;
}
@media screen and (max-width: 1050px) {
  html .set-desing,
  body .set-desing {
    width: 95%;
  }
}
html .set-desing h2,
body .set-desing h2 {
  font-family: pepe;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 460px) {
  html .set-desing h2,
  body .set-desing h2 {
    padding-bottom: 30px;
  }
}
html .set-desing .set-1,
body .set-desing .set-1 {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .set-desing .set-1,
  body .set-desing .set-1 {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
html .set-desing .set-1 .set-1-img-1,
body .set-desing .set-1 .set-1-img-1 {
  width: 325px;
  height: 280px;
  border: 1px solid rgb(201, 201, 201);
  background-image: url(../assets2/SET/PLAYLIST/dillon1.png);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 460px) {
  html .set-desing .set-1 .set-1-img-1,
  body .set-desing .set-1 .set-1-img-1 {
    width: 320px;
    height: 270px;
  }
}
html .set-desing .set-1 .set-1-img-2,
body .set-desing .set-1 .set-1-img-2 {
  width: 325px;
  height: 280px;
  border: 1px solid rgb(201, 201, 201);
  background-image: url(../assets2/SET/PLAYLIST/dillon2.png);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 460px) {
  html .set-desing .set-1 .set-1-img-2,
  body .set-desing .set-1 .set-1-img-2 {
    width: 320px;
    height: 270px;
  }
}
html .set-desing .set-1 .set-1-carrousel,
body .set-desing .set-1 .set-1-carrousel {
  width: 325px;
  height: 280px;
  background-image: url(../assets2/SET/STAND/stand.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
html .set-desing .set-1 .set-1-carrousel h3,
body .set-desing .set-1 .set-1-carrousel h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .set-desing .set-1 .set-1-carrousel p,
body .set-desing .set-1 .set-1-carrousel p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
}
html .set-desing .set-1 .set-1-carrousel .slide img,
body .set-desing .set-1 .set-1-carrousel .slide img {
  width: 325px;
  height: 280px;
}
@media screen and (max-width: 460px) {
  html .set-desing .set-1 .set-1-carrousel .slide img,
  body .set-desing .set-1 .set-1-carrousel .slide img {
    width: 320px;
    height: 270px;
  }
}
html .styling,
body .styling {
  width: 1000px;
  height: auto;
  margin: -25px auto;
}
@media screen and (max-width: 1050px) {
  html .styling,
  body .styling {
    width: 95%;
  }
}
html .styling h2,
body .styling h2 {
  font-family: pepe;
  text-align: center;
  padding-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 460px) {
  html .styling h2,
  body .styling h2 {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
html .styling .style-1,
body .styling .style-1 {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity 3s ease;
}
@media screen and (max-width: 1050px) {
  html .styling .style-1,
  body .styling .style-1 {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
html .styling .style-1 .style-1-img-1,
body .styling .style-1 .style-1-img-1 {
  width: 325px;
  height: 280px;
  border: 1px solid rgb(201, 201, 201);
  background-image: url(../assets2/STYLING/FELPA/felpa.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 460px) {
  html .styling .style-1 .style-1-img-1,
  body .styling .style-1 .style-1-img-1 {
    width: 320px;
    height: 270px;
  }
}
html .styling .style-1 .style-1-img-2,
body .styling .style-1 .style-1-img-2 {
  width: 325px;
  height: 280px;
  border: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width: 460px) {
  html .styling .style-1 .style-1-img-2,
  body .styling .style-1 .style-1-img-2 {
    width: 320px;
    height: 270px;
  }
}
html .styling .style-1 .style-1-img-2 .slide img,
body .styling .style-1 .style-1-img-2 .slide img {
  width: 325px;
  height: 280px;
}
html .styling .style-1 .style-1-carrousel,
body .styling .style-1 .style-1-carrousel {
  width: 325px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
}
html .styling .style-1 .style-1-carrousel h3,
body .styling .style-1 .style-1-carrousel h3 {
  font-family: pepe;
  color: rgb(43, 42, 42);
}
html .styling .style-1 .style-1-carrousel p,
body .styling .style-1 .style-1-carrousel p {
  width: 90%;
  color: rgb(32, 32, 32);
  font-family: pepe;
}
html .styling .style-1 .style-1-carrousel .slide img,
body .styling .style-1 .style-1-carrousel .slide img {
  width: 325px;
  height: 280px;
}
html .contact,
body .contact {
  width: 1000px;
  height: 230px;
  margin: auto;
}
@media screen and (max-width: 1050px) {
  html .contact,
  body .contact {
    width: 95%;
  }
}
@media screen and (max-width: 460px) {
  html .contact,
  body .contact {
    margin: 35px auto;
  }
}
html .contact h2,
body .contact h2 {
  font-family: pepe;
  text-align: center;
  padding-top: 30px;
  letter-spacing: 2px;
}
html .contact .contact-icons,
body .contact .contact-icons {
  width: 250px;
  height: 70px;
  margin: 50px auto;
  border: 1px solid rgb(99, 99, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
html .contact .contact-icons img,
body .contact .contact-icons img {
  width: 60px;
  transition: 0.3s;
  scale: 1.1;
}
html .contact .contact-icons img:hover,
body .contact .contact-icons img:hover {
  scale: 0.9;
  cursor: pointer;
}
html .footer,
body .footer {
  width: 100%;
  height: auto;
}
html .footer p,
body .footer p {
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
}/*# sourceMappingURL=styles.css.map */