@import "../MediaQuerys/MediaQ.scss";

$color-fondo: #e8e9eb;
$color-main: #e0dfd5;

@font-face {
  font-family: letra;
  src: url(../pruebas/boringsans.ttf);
}

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: rgb(120, 212, 177);

  .volver {
    width: 50px;
    height: 50px;
    background-color: $color-main;
    border-radius: 100%;
    position: fixed;
    top: 93%;
    left: 1%;
    display: grid;
    transition: 0.2s;

    img {
      width: 80%;
      margin: auto;
    }

    @include mobile {
      top: 92.5%;
      left: 2%;
      width: 30px;
      height: 30px;
    }
  }

  .volver:hover {
    box-shadow: 1px 1px 5px rgb(124, 124, 124);
  }

  .prueba {
    width: 100%;
    height: auto;
    // background-color: $color-fondo;
    background-color: rgb(255, 255, 255);

    header {
      width: 1200px;
      height: auto;
      margin: auto;
      background-color: white;

      @include tablet {
        width: 100%;
      }

      .navMobile {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        div {
          display: none;
        }

        ul {
          display: flex;
          flex-direction: column;
          margin: auto;
          list-style: none;
          gap: 30px;
          background-color: transparent;

          a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: 18px;
            padding-bottom: 5px;
            font-family: letra;
            text-transform: uppercase;
          }

          a:hover {
            border-bottom: 2px solid rgb(0, 0, 0);
          }
        }

        #btn {
          width: 20px;

          @include tablet {
            display: block;
            width: 50px;
          }
        }

        #btn:hover {
          cursor: pointer;
        }
      }

      nav {
        width: 80%;
        margin: 0 auto;
        height: 70px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
          width: 90%;
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;

          // img {
          //   width: 280px;
          //   margin-left: -10px;
          // }

          h1 {
            font-size: 30px;
            font-family: letra;
            font-weight: 0;
            letter-spacing: 4px;
            margin: auto;

            @include mobile {
              font-size: 20px;
            }
          }
        }

        ul {
          display: flex;
          list-style: none;
          gap: 25px;
          margin-top: 15px;
          background-color: transparent;

          @include tablet {
            display: none;
          }

          a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: 16px;
            padding-bottom: 5px;
            font-family: letra;
            text-transform: uppercase;
            transition: 0.25s;
          }

          a:hover {
            color: #dbbe7f;
          }
        }

        #btn {
          width: 20px;
          display: none;

          @include tablet {
            display: block;
            width: 50px;
          }

          @include mobile {
            width: 35px;
          }
        }

        #btn:hover {
          cursor: pointer;
        }
      }

      .hola {
        width: 80%;
        margin: auto;

        @include mobile {
          width: 90%;
        }
      }
    }

    .interiors {
      width: 1200px;
      height: auto;
      // background-color: $color-main;
      background-color: white;
      margin: auto;

      @include tablet {
        width: 100%;
      }

      h2 {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
        font-family: letra;
      }

      div {
        width: 80%;
        height: auto;
        margin: auto;
        background-color: #ffffff;
        display: grid;
        gap: 20px;

        @include card {
          width: 100%;
        }

        .container-i {
          width: 100%;
          height: 400px;
          background-color: #ffffff;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include tablet {
            flex-direction: column;
            height: auto;
          }

          .card1 {
            width: 400px;
            height: 350px;
            background-color: rgb(206, 95, 95);
            box-shadow: 1px 1px 10px rgb(131, 131, 131);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            transition: 0.3s;

            @include card {
              width: 90%;
            }

            .card-1 {
              width: 100%;
              height: 80%;
              background-image: url(Franbe-Pag-main/fotos/INTERIORS/BOTANE/IMG_9912.JPG);
              background-size: cover;
              margin: 0 auto 0 0;
              padding: 0;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }

            .card-text {
              width: 100%;
              height: 20%;
              margin-top: -20px;
              padding: 0;
              background-color: rgb(255, 255, 255);
              bottom: 0;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;

              h4 {
                margin: auto;
              }
            }
          }

          .card1:hover {
            box-shadow: 2px 2px 20px rgb(131, 131, 131);
          }

          .card2 {
            width: 400px;
            height: 350px;
            background-color: rgb(207, 230, 230);
            box-shadow: 1px 1px 10px rgb(131, 131, 131);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            transition: 0.3s;

            @include card {
              width: 90%;
            }

            .card-1 {
              width: 100%;
              height: 80%;
              background-size: cover;
              background-image: url(andresfotosweb/INTERIORS/FE/IMG_8490\ \(1\).jpg);
              margin: 0 auto 0 0;
              padding: 0;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }

            .card-text {
              width: 100%;
              height: 20%;
              margin-top: -20px;
              padding: 0;
              background-color: rgb(255, 255, 255);
              bottom: 0;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;

              h4 {
                margin: auto;
              }
            }
          }

          .card2:hover {
            box-shadow: 2px 2px 20px rgb(131, 131, 131);
          }
        }

        .container-i2 {
          width: 100%;
          height: 400px;
          background-color: #ffffff;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include tablet {
            flex-direction: column;
            height: auto;
          }

          .card1 {
            width: 400px;
            height: 350px;
            background-color: rgb(207, 230, 230);
            box-shadow: 1px 1px 10px rgb(131, 131, 131);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            transition: 0.3s;

            @include card {
              width: 90%;
            }

            .card-1 {
              width: 100%;
              height: 80%;
              background-image: url(/assets/INTERIORS/DIMMgorriti/IMG_0510.JPG);
              background-size: cover;
              margin: 0 auto 0 0;
              padding: 0;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }

            .card-text {
              width: 100%;
              height: 20%;
              margin-top: -20px;
              padding: 0;
              background-color: rgb(255, 255, 255);
              bottom: 0;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;

              h4 {
                margin: auto;
              }
            }
          }

          .card1:hover {
            box-shadow: 2px 2px 20px rgb(131, 131, 131);
          }

          .card2 {
            width: 400px;
            height: 350px;
            background-color: rgb(207, 230, 230);
            box-shadow: 1px 1px 10px rgb(131, 131, 131);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            transition: 0.3s;

            @include card {
              width: 90%;
            }

            .card-1 {
              width: 100%;
              height: 80%;
              background-image: url(assets/INTERIORS/CABRERAmonoambiente/WhatsApp\ Image\ 2023-05-22\ at\ 23.58.55\ \(1\).jpeg);
              background-size: cover;
              margin: 0 auto 0 0;
              padding: 0;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }

            .card-text {
              width: 100%;
              height: 20%;
              margin-top: -20px;
              padding: 0;
              background-color: rgb(255, 255, 255);
              bottom: 0;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;

              h4 {
                margin: auto;
              }
            }
          }

          .card1:hover {
            box-shadow: 2px 2px 20px rgb(131, 131, 131);
          }
        }




      }
    }

    .setdesing {
      width: 1200px;
      height: auto;
      background-color: #ffffff;
      margin: 20px auto;

      h2 {
        text-align: center;
        padding-top: 30px;
        font-family: letra;
      }

      div {
        width: 80%;
        height: auto;
        margin: auto;

        @include mobile {
          width: 90%;
        }

        img {
          margin-top: 30px;
          width: 100%;
        }

      }

      @include tablet {
        width: 100%;

      }
    }

    .styling {
      width: 960px;
      height: 960px;
      margin: auto;

      h2 {
        text-align: center;
        padding-top: 30px;
        font-family: letra;
      }

    }

    @include mobile {
      width: 90%;
    }

    img {
      margin-top: 30px;
      width: 100%;
    }
  }

  @include tablet {
    width: 100%;
  }
}

.contact {
  width: 1200px;
  height: 200px;
  background-color: #ffffff;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    padding-top: 30px;
    font-family: letra;
  }

  @include mobile {
    height: 200px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    img {
      width: 60px;
      transition: all 0.2s;
      cursor: pointer;
    }

    img:hover {
      width: 65px;
    }
  }

  @include tablet {
    width: 100%;
  }

  p {
    text-align: center;
    margin-top: 10px;

    @include mobile {
      margin-top: 20px;
    }
  }
}